.form {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: var(--form-width);
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-left);
  background-color: var(--color-white);
}
