.task-history {
  &-title {
    font-size: 1.3rem;
    color: var(--color-primary);
  }

  &-list {
    list-style: disc;
    padding: 0 1.5rem;
  }

  &-entry {
    font-size: 1.1rem;
    word-break: break-all;
  }
}
