.drawer {
  &-body-container {
    webkit-transition: max-height 0s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
    overflow: hidden;
    // "height: 0" will not work with css transitions
    max-height: 0;
  }
}
