.form-modal-button {
  position: fixed;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 0;
  border-bottom-left-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-white);
  z-index: 1;

  & svg {
    font-size: 3rem;
  }
}
