:root {
  --form-width: 250px;
  --color-primary: rgb(81, 157, 158);
  --color-secondary: rgb(88, 201, 185);
  --color-tertiary: rgb(157, 200, 200);
  --color-accent: rgb(209, 182, 225);
  --color-danger: rgb(221, 12, 12);
  --color-white: rgb(245, 245, 245);
  --color-gray: rgb(210, 210, 210);
  --color-black: rgb(36, 36, 36);
  --color-background: rgb(240, 240, 240);
  --shadow-down: 0 4px 8px rgba(0, 0, 0, 0.2);
  --shadow-diagonal: 4px 4px 8px rgba(0, 0, 0, 0.2);
  --shadow-left: -4px 0 8px rgba(0, 0, 0, 0.2);
  --border-radius: 0.75rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-background);
}

.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}
